<div [formGroup]="form" style="display: grid; gap: 1rem">
  <div class="w-full" style="display: grid; gap: 0.5em">
    <label for="title">Titre</label>
    <input
      type="text"
      id="title"
      pInputText
      formControlName="title"
      [style]="{ width: '100%' }"
    />
    @if (isInvalidControl(form.controls.title)) {
    <p-message
      severity="error"
      [text]="getControlMessage(form.controls.title)"
    />
    }
  </div>
  <div class="w-full" style="display: grid; gap: 0.5em">
    <label for="description">Description</label>
    <textarea
      id="description"
      pTextarea
      rows="20"
      formControlName="description"
      [style]="{ width: '100%', resize: 'vertical' }"
    ></textarea>
    @if (isInvalidControl(form.controls.description)) {
    <p-message
      severity="error"
      [text]="getControlMessage(form.controls.description)"
    />
    }
  </div>
  <div class="w-full" style="display: grid; gap: 0.5em">
    <label for="returnAt">Date de retour</label>
    <p-datepicker
      id="returnAt"
      formControlName="returnAt"
      [style]="{ width: '100%' }"
    />
    @if (isInvalidControl(form.controls.returnAt)) {
    <p-message
      severity="error"
      [text]="getControlMessage(form.controls.returnAt)"
    />
    }
  </div>
  <p-button type="submit" [disabled]="!form.valid">Enregistrer</p-button>
</div>
