<div [formGroup]="form" style="display: grid; gap: 1rem">
  <div class="w-full">
    <input
      type="text"
      pInputText
      formControlName="title"
      [style]="{ width: '100%' }"
    />
  </div>
  <div class="w-full">
    <textarea
      pTextarea
      formControlName="description"
      [style]="{ width: '100%' }"
    ></textarea>
  </div>
  <div class="w-full">
    <p-datepicker formControlName="returnAt" [style]="{ width: '100%' }" />
  </div>
  <p-button type="submit" [disabled]="!form.valid">Enregistrer</p-button>
</div>
