<div [formGroup]="form" style="display: grid; gap: 1rem">
  <div class="w-full">
    <input
      type="text"
      pInputText
      formControlName="title"
      [style]="{ width: '100%' }"
    />
    @if (isInvalidControl(form.controls.title)) {
    <p-message
      severity="error"
      [text]="getControlMessage(form.controls.title)"
    />
    }
  </div>
  <div class="w-full">
    <textarea
      pTextarea
      formControlName="description"
      [style]="{ width: '100%' }"
    ></textarea>
    @if (isInvalidControl(form.controls.description)) {
    <p-message
      severity="error"
      [text]="getControlMessage(form.controls.description)"
    />
    }
  </div>
  <div class="w-full">
    <p-datepicker formControlName="returnAt" [style]="{ width: '100%' }" />
    @if (isInvalidControl(form.controls.returnAt)) {
    <p-message
      severity="error"
      [text]="getControlMessage(form.controls.returnAt)"
    />
    }
  </div>
  <p-button type="submit" [disabled]="!form.valid">Enregistrer</p-button>
</div>
