<p-toast />
<main class="max-w-7xl mx-auto px-4 grid gap-4">
  <p-button class="ml-auto" (click)="handleCreateItem()">Nouveau</p-button>

  <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    @for (item of items(); track item.id) {
    <li>
      <p-card class="h-full overflow-hidden">
        <ng-template #header>
          <img
            alt="Card"
            class="object-cover"
            src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
          />
        </ng-template>
        <ng-template #title>{{ item.title }}</ng-template>
        <p>{{ item.description }}</p>
        <ng-template #footer>
          <div class="flex gap-4 mt-1">
            <p-button
              label="✐"
              class="w-full"
              styleClass="w-full"
              severity="info"
              (click)="handleUpdateItem(item.id)"
            />
            <p-button
              label="🗑"
              class="w-full"
              styleClass="w-full"
              severity="danger"
              (click)="handleConfirmDelete(item.id)"
            />
          </div>
        </ng-template>
      </p-card>
    </li>
    }
  </ul>

  <p-confirmdialog />
</main>
